.create {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
}

.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

#edit {
    color: rgb(5, 127, 158);
}

#delete {
    color: rgb(196, 90, 90);
    margin-left: .5rem;
}

td.baixa {
    color: rgb(14, 235, 14);
}

td.media {
    color: rgb(238, 238, 17);
}

td.alta {
    color: rgb(240, 13, 13);
}